node_modules
.pnpm-store
.next
.turbo
dist
out
build
coverage
.lighthouseci
playwright-report

.env
.env.local
.env.*.local

*.log
.DS_Store
.vercel
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
